assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

digwell-main-yii2/
rpko-main-yii2/
yii2-template/
main-yii2/
olio-main-yii2/
youwroom-main-yii2/